@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-mV7_HcUGl6cf_font-family: "Roboto", sans-serif;
  --mixin-mV7_HcUGl6cf_font-size: 16px;
  --mixin-mV7_HcUGl6cf_font-weight: 400;
  --mixin-mV7_HcUGl6cf_font-style: normal;
  --mixin-mV7_HcUGl6cf_color: #535353;
  --mixin-mV7_HcUGl6cf_text-align: left;
  --mixin-mV7_HcUGl6cf_text-transform: none;
  --mixin-mV7_HcUGl6cf_line-height: 1.5;
  --mixin-mV7_HcUGl6cf_letter-spacing: normal;
  --mixin-mV7_HcUGl6cf_white-space: pre-wrap;
  --mixin-mV7_HcUGl6cf_user-select: text;
  --mixin-mV7_HcUGl6cf_text-decoration-line: none;
  --mixin-mV7_HcUGl6cf_text-overflow: clip;
  --mixin-FXiyaHb8p0HI_font-family: "Inter", sans-serif;
  --mixin-FXiyaHb8p0HI_color: #000000;
  --mixin-FXiyaHb8p0HI_font-size: 72px;
  --mixin-FXiyaHb8p0HI_font-weight: 900;
  --mixin-FXiyaHb8p0HI_letter-spacing: -4px;
  --mixin-FXiyaHb8p0HI_line-height: 1;
  --mixin-FXiyaHb8p0HI_white-space: pre-wrap;
  --mixin-PrC1Xd3__wUM_font-family: "Inter", sans-serif;
  --mixin-PrC1Xd3__wUM_color: #000000;
  --mixin-PrC1Xd3__wUM_font-size: 48px;
  --mixin-PrC1Xd3__wUM_font-weight: 700;
  --mixin-PrC1Xd3__wUM_letter-spacing: -1px;
  --mixin-PrC1Xd3__wUM_line-height: 1.1;
  --mixin-PrC1Xd3__wUM_white-space: pre-wrap;
  --mixin-Bk6RGCKxjRQO_font-family: "Inter", sans-serif;
  --mixin-Bk6RGCKxjRQO_color: #000000;
  --mixin-Bk6RGCKxjRQO_font-size: 32px;
  --mixin-Bk6RGCKxjRQO_font-weight: 600;
  --mixin-Bk6RGCKxjRQO_letter-spacing: -0.8px;
  --mixin-Bk6RGCKxjRQO_line-height: 1.2;
  --mixin-Bk6RGCKxjRQO_white-space: pre-wrap;
  --mixin-CgQbFpnoMk6f_font-family: "Inter", sans-serif;
  --mixin-CgQbFpnoMk6f_color: #000000;
  --mixin-CgQbFpnoMk6f_font-size: 24px;
  --mixin-CgQbFpnoMk6f_font-weight: 600;
  --mixin-CgQbFpnoMk6f_letter-spacing: -0.5px;
  --mixin-CgQbFpnoMk6f_line-height: 1.3;
  --mixin-CgQbFpnoMk6f_white-space: pre-wrap;
  --mixin-ONmxe3rrkQng_font-family: "Inter", sans-serif;
  --mixin-ONmxe3rrkQng_color: #000000;
  --mixin-ONmxe3rrkQng_font-size: 20px;
  --mixin-ONmxe3rrkQng_font-weight: 600;
  --mixin-ONmxe3rrkQng_letter-spacing: -0.3px;
  --mixin-ONmxe3rrkQng_line-height: 1.5;
  --mixin-ONmxe3rrkQng_white-space: pre-wrap;
  --mixin-PuVXSdK81zJQ_font-family: "Inter", sans-serif;
  --mixin-PuVXSdK81zJQ_color: #000000;
  --mixin-PuVXSdK81zJQ_font-size: 16px;
  --mixin-PuVXSdK81zJQ_font-weight: 600;
  --mixin-PuVXSdK81zJQ_line-height: 1.5;
  --mixin-PuVXSdK81zJQ_white-space: pre-wrap;
  --mixin-HMdvRgZmoywL_color: #0070f3;
  --mixin-HMdvRgZmoywL_white-space: pre-wrap;
  --mixin-jGEOBRA8diXB_color: #3291ff;
  --mixin-jGEOBRA8diXB_white-space: pre-wrap;
  --mixin-yJC1pXCmP3Lp_border-left-color: #dddddd;
  --mixin-yJC1pXCmP3Lp_border-left-style: solid;
  --mixin-yJC1pXCmP3Lp_border-left-width: 3px;
  --mixin-yJC1pXCmP3Lp_color: #888888;
  --mixin-yJC1pXCmP3Lp_padding-left: 10px;
  --mixin-yJC1pXCmP3Lp_white-space: pre-wrap;
  --mixin-cMfJ4QyUJq7C_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-cMfJ4QyUJq7C_border-bottom-color: #dddddd;
  --mixin-cMfJ4QyUJq7C_border-bottom-style: solid;
  --mixin-cMfJ4QyUJq7C_border-bottom-width: 1px;
  --mixin-cMfJ4QyUJq7C_border-left-color: #dddddd;
  --mixin-cMfJ4QyUJq7C_border-left-style: solid;
  --mixin-cMfJ4QyUJq7C_border-left-width: 1px;
  --mixin-cMfJ4QyUJq7C_border-right-color: #dddddd;
  --mixin-cMfJ4QyUJq7C_border-right-style: solid;
  --mixin-cMfJ4QyUJq7C_border-right-width: 1px;
  --mixin-cMfJ4QyUJq7C_border-top-color: #dddddd;
  --mixin-cMfJ4QyUJq7C_border-top-style: solid;
  --mixin-cMfJ4QyUJq7C_border-top-width: 1px;
  --mixin-cMfJ4QyUJq7C_border-bottom-left-radius: 3px;
  --mixin-cMfJ4QyUJq7C_border-bottom-right-radius: 3px;
  --mixin-cMfJ4QyUJq7C_border-top-left-radius: 3px;
  --mixin-cMfJ4QyUJq7C_border-top-right-radius: 3px;
  --mixin-cMfJ4QyUJq7C_font-family: "Inconsolata";
  --mixin-cMfJ4QyUJq7C_padding-bottom: 1px;
  --mixin-cMfJ4QyUJq7C_padding-left: 4px;
  --mixin-cMfJ4QyUJq7C_padding-right: 4px;
  --mixin-cMfJ4QyUJq7C_padding-top: 1px;
  --mixin-cMfJ4QyUJq7C_white-space: pre-wrap;
  --mixin-nXBzUCE58ie__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-nXBzUCE58ie__border-bottom-color: #dddddd;
  --mixin-nXBzUCE58ie__border-bottom-style: solid;
  --mixin-nXBzUCE58ie__border-bottom-width: 1px;
  --mixin-nXBzUCE58ie__border-left-color: #dddddd;
  --mixin-nXBzUCE58ie__border-left-style: solid;
  --mixin-nXBzUCE58ie__border-left-width: 1px;
  --mixin-nXBzUCE58ie__border-right-color: #dddddd;
  --mixin-nXBzUCE58ie__border-right-style: solid;
  --mixin-nXBzUCE58ie__border-right-width: 1px;
  --mixin-nXBzUCE58ie__border-top-color: #dddddd;
  --mixin-nXBzUCE58ie__border-top-style: solid;
  --mixin-nXBzUCE58ie__border-top-width: 1px;
  --mixin-nXBzUCE58ie__border-bottom-left-radius: 3px;
  --mixin-nXBzUCE58ie__border-bottom-right-radius: 3px;
  --mixin-nXBzUCE58ie__border-top-left-radius: 3px;
  --mixin-nXBzUCE58ie__border-top-right-radius: 3px;
  --mixin-nXBzUCE58ie__font-family: "Inconsolata";
  --mixin-nXBzUCE58ie__padding-bottom: 3px;
  --mixin-nXBzUCE58ie__padding-left: 6px;
  --mixin-nXBzUCE58ie__padding-right: 6px;
  --mixin-nXBzUCE58ie__padding-top: 3px;
  --mixin-nXBzUCE58ie__white-space: pre-wrap;
  --mixin-xS3VT9Af4mAa_display: flex;
  --mixin-xS3VT9Af4mAa_flex-direction: column;
  --mixin-xS3VT9Af4mAa_align-items: stretch;
  --mixin-xS3VT9Af4mAa_justify-content: flex-start;
  --mixin-xS3VT9Af4mAa_list-style-position: outside;
  --mixin-xS3VT9Af4mAa_padding-left: 40px;
  --mixin-xS3VT9Af4mAa_position: relative;
  --mixin-xS3VT9Af4mAa_list-style-type: decimal;
  --mixin-xS3VT9Af4mAa_white-space: pre-wrap;
  --mixin-enDkBGtzyyXS_display: flex;
  --mixin-enDkBGtzyyXS_flex-direction: column;
  --mixin-enDkBGtzyyXS_align-items: stretch;
  --mixin-enDkBGtzyyXS_justify-content: flex-start;
  --mixin-enDkBGtzyyXS_list-style-position: outside;
  --mixin-enDkBGtzyyXS_padding-left: 40px;
  --mixin-enDkBGtzyyXS_position: relative;
  --mixin-enDkBGtzyyXS_list-style-type: disc;
  --mixin-enDkBGtzyyXS_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-mV7_HcUGl6cf_font-family);
  font-size: var(--mixin-mV7_HcUGl6cf_font-size);
  font-weight: var(--mixin-mV7_HcUGl6cf_font-weight);
  font-style: var(--mixin-mV7_HcUGl6cf_font-style);
  color: var(--mixin-mV7_HcUGl6cf_color);
  text-align: var(--mixin-mV7_HcUGl6cf_text-align);
  text-transform: var(--mixin-mV7_HcUGl6cf_text-transform);
  line-height: var(--mixin-mV7_HcUGl6cf_line-height);
  letter-spacing: var(--mixin-mV7_HcUGl6cf_letter-spacing);
  white-space: var(--mixin-mV7_HcUGl6cf_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-FXiyaHb8p0HI_font-family);
  color: var(--mixin-FXiyaHb8p0HI_color);
  font-size: var(--mixin-FXiyaHb8p0HI_font-size);
  font-weight: var(--mixin-FXiyaHb8p0HI_font-weight);
  letter-spacing: var(--mixin-FXiyaHb8p0HI_letter-spacing);
  line-height: var(--mixin-FXiyaHb8p0HI_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-PrC1Xd3__wUM_font-family);
  color: var(--mixin-PrC1Xd3__wUM_color);
  font-size: var(--mixin-PrC1Xd3__wUM_font-size);
  font-weight: var(--mixin-PrC1Xd3__wUM_font-weight);
  letter-spacing: var(--mixin-PrC1Xd3__wUM_letter-spacing);
  line-height: var(--mixin-PrC1Xd3__wUM_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-Bk6RGCKxjRQO_font-family);
  color: var(--mixin-Bk6RGCKxjRQO_color);
  font-size: var(--mixin-Bk6RGCKxjRQO_font-size);
  font-weight: var(--mixin-Bk6RGCKxjRQO_font-weight);
  letter-spacing: var(--mixin-Bk6RGCKxjRQO_letter-spacing);
  line-height: var(--mixin-Bk6RGCKxjRQO_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-CgQbFpnoMk6f_font-family);
  color: var(--mixin-CgQbFpnoMk6f_color);
  font-size: var(--mixin-CgQbFpnoMk6f_font-size);
  font-weight: var(--mixin-CgQbFpnoMk6f_font-weight);
  letter-spacing: var(--mixin-CgQbFpnoMk6f_letter-spacing);
  line-height: var(--mixin-CgQbFpnoMk6f_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-ONmxe3rrkQng_font-family);
  color: var(--mixin-ONmxe3rrkQng_color);
  font-size: var(--mixin-ONmxe3rrkQng_font-size);
  font-weight: var(--mixin-ONmxe3rrkQng_font-weight);
  letter-spacing: var(--mixin-ONmxe3rrkQng_letter-spacing);
  line-height: var(--mixin-ONmxe3rrkQng_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-PuVXSdK81zJQ_font-family);
  color: var(--mixin-PuVXSdK81zJQ_color);
  font-size: var(--mixin-PuVXSdK81zJQ_font-size);
  font-weight: var(--mixin-PuVXSdK81zJQ_font-weight);
  line-height: var(--mixin-PuVXSdK81zJQ_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-HMdvRgZmoywL_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-jGEOBRA8diXB_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-yJC1pXCmP3Lp_color);
  padding-left: var(--mixin-yJC1pXCmP3Lp_padding-left);
  border-left: var(--mixin-yJC1pXCmP3Lp_border-left-width)
    var(--mixin-yJC1pXCmP3Lp_border-left-style)
    var(--mixin-yJC1pXCmP3Lp_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-cMfJ4QyUJq7C_font-family);
  border-radius: var(--mixin-cMfJ4QyUJq7C_border-top-left-radius)
    var(--mixin-cMfJ4QyUJq7C_border-top-right-radius)
    var(--mixin-cMfJ4QyUJq7C_border-bottom-right-radius)
    var(--mixin-cMfJ4QyUJq7C_border-bottom-left-radius);
  padding: var(--mixin-cMfJ4QyUJq7C_padding-top)
    var(--mixin-cMfJ4QyUJq7C_padding-right)
    var(--mixin-cMfJ4QyUJq7C_padding-bottom)
    var(--mixin-cMfJ4QyUJq7C_padding-left);
  border-top: var(--mixin-cMfJ4QyUJq7C_border-top-width)
    var(--mixin-cMfJ4QyUJq7C_border-top-style)
    var(--mixin-cMfJ4QyUJq7C_border-top-color);
  border-right: var(--mixin-cMfJ4QyUJq7C_border-right-width)
    var(--mixin-cMfJ4QyUJq7C_border-right-style)
    var(--mixin-cMfJ4QyUJq7C_border-right-color);
  border-bottom: var(--mixin-cMfJ4QyUJq7C_border-bottom-width)
    var(--mixin-cMfJ4QyUJq7C_border-bottom-style)
    var(--mixin-cMfJ4QyUJq7C_border-bottom-color);
  border-left: var(--mixin-cMfJ4QyUJq7C_border-left-width)
    var(--mixin-cMfJ4QyUJq7C_border-left-style)
    var(--mixin-cMfJ4QyUJq7C_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-nXBzUCE58ie__font-family);
  border-radius: var(--mixin-nXBzUCE58ie__border-top-left-radius)
    var(--mixin-nXBzUCE58ie__border-top-right-radius)
    var(--mixin-nXBzUCE58ie__border-bottom-right-radius)
    var(--mixin-nXBzUCE58ie__border-bottom-left-radius);
  padding: var(--mixin-nXBzUCE58ie__padding-top)
    var(--mixin-nXBzUCE58ie__padding-right)
    var(--mixin-nXBzUCE58ie__padding-bottom)
    var(--mixin-nXBzUCE58ie__padding-left);
  border-top: var(--mixin-nXBzUCE58ie__border-top-width)
    var(--mixin-nXBzUCE58ie__border-top-style)
    var(--mixin-nXBzUCE58ie__border-top-color);
  border-right: var(--mixin-nXBzUCE58ie__border-right-width)
    var(--mixin-nXBzUCE58ie__border-right-style)
    var(--mixin-nXBzUCE58ie__border-right-color);
  border-bottom: var(--mixin-nXBzUCE58ie__border-bottom-width)
    var(--mixin-nXBzUCE58ie__border-bottom-style)
    var(--mixin-nXBzUCE58ie__border-bottom-color);
  border-left: var(--mixin-nXBzUCE58ie__border-left-width)
    var(--mixin-nXBzUCE58ie__border-left-style)
    var(--mixin-nXBzUCE58ie__border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-xS3VT9Af4mAa_display);
  flex-direction: var(--mixin-xS3VT9Af4mAa_flex-direction);
  align-items: var(--mixin-xS3VT9Af4mAa_align-items);
  justify-content: var(--mixin-xS3VT9Af4mAa_justify-content);
  list-style-position: var(--mixin-xS3VT9Af4mAa_list-style-position);
  padding-left: var(--mixin-xS3VT9Af4mAa_padding-left);
  position: var(--mixin-xS3VT9Af4mAa_position);
  list-style-type: var(--mixin-xS3VT9Af4mAa_list-style-type);
  flex-column-gap: var(--mixin-xS3VT9Af4mAa_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-enDkBGtzyyXS_display);
  flex-direction: var(--mixin-enDkBGtzyyXS_flex-direction);
  align-items: var(--mixin-enDkBGtzyyXS_align-items);
  justify-content: var(--mixin-enDkBGtzyyXS_justify-content);
  list-style-position: var(--mixin-enDkBGtzyyXS_list-style-position);
  padding-left: var(--mixin-enDkBGtzyyXS_padding-left);
  position: var(--mixin-enDkBGtzyyXS_position);
  list-style-type: var(--mixin-enDkBGtzyyXS_list-style-type);
  flex-column-gap: var(--mixin-enDkBGtzyyXS_flex-column-gap);
}
